[tool.poetry]
name = "toyllm"
version = "0.1.0"
description = "Toy LLM"
authors = ["Xiangzhuang Shen <datahonor@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
torch = "^2.2.0"
tiktoken = "^0.6.0"
numpy = "^1.26.4"
jaxtyping = "^0.2.28"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.5.0"
mkdocs = "^1.5.3"
mkdocs-bibtex = "^2.11.0"
mkdocstrings = "^0.24.0"
mkdocs-material-extensions = "^1.3.1"
mkdocs-material = "^9.4.14"
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
hypothesis = "^6.91.0"
pytest-sugar = "^0.9.7"
isort = "^5.12.0"
flake8 = "^6.1.0"
black = "^23.11.0"
mypy = "^1.7.1"
ruff = "^0.1.7"
ipython = "^8.22.2"
nvitop = "^1.3.2"


[virtualenvs]
create = true
in-project = true

[tool.isort]
profile = "black"

[tool.ruff.lint]
ignore = ["F722"]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
